@page "/savings"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject App1.Data.App1Context DB
@using App1.Data

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="savings/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.Savings">
    <PropertyColumn Property="savings => savings.GoalName" />
    <PropertyColumn Property="savings => savings.TargetAmount" />
    <PropertyColumn Property="savings => savings.CurrentAmount" />
    <PropertyColumn Property="savings => savings.TargetDate" />
    <PropertyColumn Property="savings => savings.SavingDescription" />

    <TemplateColumn Context="savings">
        <a href="@($"savings/edit?id={savings.Id}")">Edit</a> |
        <a href="@($"savings/details?id={savings.Id}")">Details</a> |
        <a href="@($"savings/delete?id={savings.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
