@page "/people"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject App1.Data.App1Context DB
@using App1.Data

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="people/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.Person">
    <PropertyColumn Property="person => person.FirstName" />
    <PropertyColumn Property="person => person.LastName" />
    <PropertyColumn Property="person => person.DateOfBirth" />
    <PropertyColumn Property="person => person.Email" />
    <PropertyColumn Property="person => person.Name" />
    <PropertyColumn Property="person => person.Age" />

    <TemplateColumn Context="person">
        <a href="@($"people/edit?id={person.Id}")">Edit</a> |
        <a href="@($"people/details?id={person.Id}")">Details</a> |
        <a href="@($"people/delete?id={person.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
