@page "/budgets/create"
@inject App1.Data.App1Context DB
@using App1.Data
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>Budget</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Budget" OnValidSubmit="AddBudget" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label> 
                <InputText id="title" @bind-Value="Budget.Title" class="form-control" /> 
                <ValidationMessage For="() => Budget.Title" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="amount" class="form-label">Amount:</label> 
                <InputNumber id="amount" @bind-Value="Budget.Amount" class="form-control" /> 
                <ValidationMessage For="() => Budget.Amount" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="category" class="form-label">Category:</label> 
                <InputText id="category" @bind-Value="Budget.Category" class="form-control" /> 
                <ValidationMessage For="() => Budget.Category" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="dateauthored" class="form-label">DateAuthored:</label> 
                <InputDate id="dateauthored" @bind-Value="Budget.DateAuthored" class="form-control" /> 
                <ValidationMessage For="() => Budget.DateAuthored" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label> 
                <InputText id="description" @bind-Value="Budget.Description" class="form-control" /> 
                <ValidationMessage For="() => Budget.Description" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/budgets">Back to List</a>
</div>

@code {

    [SupplyParameterFromForm]
    public Budget Budget { get; set; } = new();

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddBudget()
    {
        DB.Budget.Add(Budget);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/budgets");
    }
}
